.navigation-bar{
      display: flex;
      padding: 20px;
      align-items: center;
      justify-content: space-between;

h3{
      margin: 0;
}


      ul{
            margin: 0;
            display: flex;
            list-style-type: none;
            
            li{
                  margin-left: 20px;

                  a{
                        text-decoration: none;
                        color: black;
                        font-weight: bold;
                        &:hover{
                              color: gray;
                        }
                  }
            }
      }
}