<div class="row">
  <div class="col-md-12">
    <h3>Add Posts</h3>
    <hr />
    <form [formGroup]="postForm" (ngSubmit)="onAddPosts()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" />
        <div>{{ showTitleErrors()}}</div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea
          class="form-control"
          cols="30"
          rows="10"
          formControlName="description"
        ></textarea>
        <div>{{ showDescriptionErrors() }}</div>
      </div>

      <div class="my-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!postForm.valid"
        >
          Add Posts
        </button>
      </div>
    </form>
  </div>
</div>
